	.body {
		 background-color: #fff;
	}
	
	.section {
		 height:1014px;
		 background-color: #000;
	}
	
	.section2{
	 height:1014px;
	 background-color: #2f3133;
	}
	
	.section3{
	 height:1014px;
	 background-color: #000;
	}
	
	.section4{
	 height:1014px;
	 background-color: #2f3133;
	}
	
	.section5{
	 height:1014px;
	 background-color: #000;
	}
	
	.section6{
	 height:1014px;
	 background-color: #2f3133;
	}