.bg {
  width: 1440px;
  background-color: #ffffff;


  
}.home {
  height: 1014px;
  background-color: #000;
  background-image: url(./Assets/Section1/background.png);
  object-fit: contain;
}

.section2 {
  height: 1014px;
  background-color: #1e1e1e;
  
}

.section3 {
  height: 2028px;
  background-color: #ffffff;
}

.section4 {
  height: 1014px;
  background-color: #1e1e1e;
}

.section5 {
  height: 1014px;
  background-color: #000;
}

.footer_bg {
  width: 1420px;
  height: 408px;
  background-color: var(--black);
}



