.Hire-me {
  
  height: 22px;
  padding-left: 145px;
  padding-top: 86px;
  font-family: FuturaPT;
  font-size: 33px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.8px;

}

.I-am-available-for-h {
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 185px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black);
}
.I-am-available-for-h .text-style-1 {
  font-weight: 900;
}

.btn-s5 {
  padding-left: 505px;
  padding-top: 20px;
}

.txt {
  padding-bottom: 40px;
}

.Button_black_big {
  width: 200px;
  height: 50px;
  text-align: center;
  margin-right: 30px;
  box-shadow: 0 64px 64px 0 rgba(203, 219, 235, 0.3), 0 32px 32px 0 rgba(203, 219, 235, 0.3), 0 16px 16px 0 rgba(203, 219, 235, 0.3), 0 8px 8px 0 rgba(203, 219, 235, 0.3), 0 4px 4px 0 rgba(203, 219, 235, 0.2), 0 2px 2px 0 rgba(203, 219, 235, 0.3);
  background-color: var(--black);
}

.Button_white_big {
  width: 200px;
  height: 50px;
  text-align: center;
  box-shadow: 0 64px 64px 0 rgba(203, 219, 235, 0.2), 0 32px 32px 0 rgba(203, 219, 235, 0.2), 0 16px 16px 0 rgba(203, 219, 235, 0.2), 0 8px 8px 0 rgba(203, 219, 235, 0.2), 0 4px 4px 0 rgba(203, 219, 235, 0.2), 0 2px 2px 0 rgba(203, 219, 235, 0.2);
  background-color: #ffffff;
}

.Project {
  width: 63px;
  height: 15px;
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

.Business {
  width: 74px;
  height: 15px;
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: var(--black);
}


Just-want-to-say-hi {
  width: 367px;
  height: 36px;
  font-family: FuturaPT;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.Just-want-to-say-hi .text-style-1 {
  font-weight: 900;
  color: #ad0337;
}