.bg {
  width: 1440px;
  height: 6020px;
  background-color: #ffffff;
}

.heading {
  margin-left: 135px;
  margin-top: 61px;
}

.Services {
  width: 98px;
  height: 22px;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.8px;
  color: var(--black);
}

.icons {
  margin-top: 100px;
  margin-left: 224px;
}

.discovery_icon {
  width: 87px;
  height: 87px;
  object-fit: contain;
  margin-right: 214px;
}

.ux_icon {
  width: 87px;
  height: 87px;
  object-fit: contain;
  opacity: 0.5;
  margin-right: 212px;
}

.ui_icon {
  width: 87px;
  height: 87px;
  object-fit: contain;
  opacity: 0.5;
  margin-right: 213px;
}

.prototyping_icon {
  width: 87px;
  height: 87px;
  object-fit: contain;
  opacity: 0.5;
}

.icon-text {
  margin-left: 180.5px;
  margin-top: 40px;

}

.Project-Discovery {
  width: 180px;
  height: 30px;
  margin-right: 156px;
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.UX-Design {
  width: 107px;
  height: 30px;
  margin-right: 195.5px;
  opacity: 0.5;
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}


.UI-Design {
  width: 100px;
  height: 30px;
  margin-right: 188px;
  opacity: 0.5;
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}


.Prototyping {
  width: 122px;
  height: 30px;
  opacity: 0.5;
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.pd {
  margin-left: 112px;
}

.Before-I-start-makin {
  width: 316px;
  height: 92px;
  opacity: 0.5;
  font-family: Futura;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.cs {
  margin-top: 160px;
  margin-left: 135px;
}

.Case-studies {
  width: 180px;
  height: 22px;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.8px;
  color: var(--black);
}

.pin {
  margin-left: 135px;
  margin-top: 100px;
  text-align: left;
  justify-content: left;
}

.image {
  width: 570px;
  height: 400px;
  object-fit: contain;
}

.Pineapple-miracle {
  width: 350px;
  margin-left: 130px;
  height: 43px;
  font-family: 'Playfair Display SC', serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}


.Sed-ut-perspiciatis {
  width: 364px;
  margin-top: 20px;
  margin-left: 155px;
  height: 128px;
  opacity: 0.4;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: var(--black);
}

.See-case-study {
  width: 256px;
  height: 31px;
  margin-left: 130px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--black);
}

.arrow {
  width: 18.2px;
  height: 13.3px;
  object-fit: contain;
  transform: rotate(0deg);
 
}

.arrow-2 {
  width: 18.2px;
  height: 13.3px;
  object-fit: contain;
  transform: rotate(-180deg);
 
}

.Classy-furnitures {
  width: 255px;
  height: 43px;
  margin-left: 349px;
  font-family: 'Playfair Display SC', serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}


.Sed-ut-perspiciatis-2 {
  width: 364px;
  height: 128px;
  margin-left: 230px;
  opacity: 0.4;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: right;
  color: var(--black);
}


.See-case-study-2 {
  width: 556px;
  height: 21px;
  margin-left: 310px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--black);
}

.chair {
  margin-left: 220px;
  justify-content: right;
}

.Image {
  width: 570px;
  height: 400px;
  object-fit: contain;
}

.More-projects {
  width: 220px;
  height: 15px;
  padding-top: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.7px;
  text-align: center;
  color: var(--black);
}

.btnb {
  justify-content: center;
  margin-top: 101px;
  text-align: center;
}

.Button_white_big {
  width: 220px;
  height: 50px;
  box-shadow: 0 64px 64px 0 rgba(203, 219, 235, 0.2), 0 32px 32px 0 rgba(203, 219, 235, 0.2), 0 16px 16px 0 rgba(203, 219, 235, 0.2), 0 8px 8px 0 rgba(203, 219, 235, 0.2), 0 4px 4px 0 rgba(203, 219, 235, 0.2), 0 2px 2px 0 rgba(203, 219, 235, 0.2);
  background-color: #ffffff;
  justify-content: center;
}

.plus {
  width: 14.9px;
  height: 14.9px;
  padding-left: 20.6px
  object-fit: contain;
}