.I-was-working-with-p {
  margin-top: 0px;
  padding-top: 116px;
  padding-left: 400px;
  padding-right: 400px;

  text-align: center;

  height: 82px;
  font-family: FuturaPT;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.I-was-working-with-p .text-style-1 {
  font-weight: 900;
}

map {
  width: 799px;
  height: 397px;
  padding-left: 512px;
  margin-left: 200px;
  object-fit: contain;
}